@import url(https://fonts.googleapis.com/css?family=Sofia);

body {font: 12pt Arial;}
h1, h2, h3 { font-family: 'Sofia', sans-serif; font-weight: normal; text-shadow: 3px 3px 3px #ababab;}
button { font-size: 30pt; padding: 30px;}
